<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>

        <form action="{{ 'http://hobex.local'~path('homepage') }}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    </body>

    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ checkoutId }}"></script>
</html>